# coding: utf-8

"""
    OpenDota API

    # Introduction The OpenDota API provides Dota 2 related data including advanced match data extracted from match replays. Please keep request rate to approximately 1/s.  **Begining 4/22/2018, the OpenDota API will be limited to 50,000 free calls per month.** We'll be offering a Premium Tier with unlimited API calls and higher rate limits. Check out the [API page](https://www.opendota.com/api-keys) to learn more. 

    OpenAPI spec version: 17.6.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ScenariosApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def scenarios_item_timings_get(self, **kwargs):
        """
        GET /scenarios/itemTimings
        Win rates for certain item timings on a hero for items that cost at least 1400 gold
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.scenarios_item_timings_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str item: Filter by item name e.g. \"spirit_vessel\"
        :param int hero_id: Hero ID
        :return: list[InlineResponse20030]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.scenarios_item_timings_get_with_http_info(**kwargs)
        else:
            (data) = self.scenarios_item_timings_get_with_http_info(**kwargs)
            return data

    def scenarios_item_timings_get_with_http_info(self, **kwargs):
        """
        GET /scenarios/itemTimings
        Win rates for certain item timings on a hero for items that cost at least 1400 gold
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.scenarios_item_timings_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str item: Filter by item name e.g. \"spirit_vessel\"
        :param int hero_id: Hero ID
        :return: list[InlineResponse20030]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['item', 'hero_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scenarios_item_timings_get" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'item' in params:
            query_params.append(('item', params['item']))
        if 'hero_id' in params:
            query_params.append(('hero_id', params['hero_id']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/scenarios/itemTimings', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[InlineResponse20030]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def scenarios_lane_roles_get(self, **kwargs):
        """
        GET /scenarios/laneRoles
        Win rates for heroes in certain lane roles
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.scenarios_lane_roles_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str lane_role: Filter by lane role 1-4 (Safe, Mid, Off, Jungle)
        :param int hero_id: Hero ID
        :return: list[InlineResponse20031]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.scenarios_lane_roles_get_with_http_info(**kwargs)
        else:
            (data) = self.scenarios_lane_roles_get_with_http_info(**kwargs)
            return data

    def scenarios_lane_roles_get_with_http_info(self, **kwargs):
        """
        GET /scenarios/laneRoles
        Win rates for heroes in certain lane roles
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.scenarios_lane_roles_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str lane_role: Filter by lane role 1-4 (Safe, Mid, Off, Jungle)
        :param int hero_id: Hero ID
        :return: list[InlineResponse20031]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['lane_role', 'hero_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scenarios_lane_roles_get" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'lane_role' in params:
            query_params.append(('lane_role', params['lane_role']))
        if 'hero_id' in params:
            query_params.append(('hero_id', params['hero_id']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/scenarios/laneRoles', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[InlineResponse20031]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def scenarios_misc_get(self, **kwargs):
        """
        GET /scenarios/misc
        Miscellaneous team scenarios
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.scenarios_misc_get(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str scenario: pos_chat_1min,neg_chat_1min,courier_kill,first_blood
        :return: list[InlineResponse20032]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.scenarios_misc_get_with_http_info(**kwargs)
        else:
            (data) = self.scenarios_misc_get_with_http_info(**kwargs)
            return data

    def scenarios_misc_get_with_http_info(self, **kwargs):
        """
        GET /scenarios/misc
        Miscellaneous team scenarios
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.scenarios_misc_get_with_http_info(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str scenario: pos_chat_1min,neg_chat_1min,courier_kill,first_blood
        :return: list[InlineResponse20032]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['scenario']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method scenarios_misc_get" % key
                )
            params[key] = val
        del params['kwargs']


        collection_formats = {}

        path_params = {}

        query_params = []
        if 'scenario' in params:
            query_params.append(('scenario', params['scenario']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api('/scenarios/misc', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='list[InlineResponse20032]',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
